confection==0.1.4
contourpy
contractions==0.1.73
cryptography
cycler==0.10.0
cymem==2.0.8
dataclasses-json
debugpy
decorator==5.1.0
defusedxml==0.7.1
distro==1.6.0
docopt==0.6.2
emoji==2.11.1
emot==3.1
exceptiongroup
executing
fastjsonschema
filelock==3.13.4
fonttools==4.25.0
fsspec==2024.3.1
fst-pso==1.8.1
FuzzyTM==2.0.9
gensim
greenlet
h11
hpack==4.0.0
httpcore
httpx
huggingface-hub==0.23.2
hyperframe
idna
imageio==2.34.1
imbalanced-learn
importlib-metadata
inexactsearch==1.0.2
ipykernel
ipython
ipywidgets
jedi
Jinja2
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kiwisolver
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langcodes==3.4.0
langsmith
language_data==1.2.0
lazy_loader==0.4
lime==0.2.0.1
llvmlite
marisa-trie==1.1.1
matplotlib
miniful==0.0.6
mistune
mlxtend==0.23.1
mpmath==1.3.0
multidict
munkres==1.1.4
murmurhash==1.0.10
mypy-extensions
nbclient
nbconvert
nbformat
nest_asyncio
networkx==3.3
nltk
notebook
notebook_shim
num2words==0.5.13
numba
numexpr
numpy==1.24.4
openai
orjson
outcome==1.3.0.post0
overrides
packaging
pandas==1.5.3
pandocfilters
parso
patsy==0.5.3
pexpect
pickleshare
Pillow
platformdirs
plotly==5.22.0
pluggy
ply==3.11
preshed==3.0.9
prometheus-client
prompt-toolkit
protobuf==5.26.1
psutil
ptyprocess
pure-eval
pyahocorasick==2.1.0
pycosat
pycparser
pydantic
pydantic_core
pyFUME==0.3.4
Pygments
pyOpenSSL
pyparsing
PyQt5==5.15.10
PyQt5-sip
PySocks
pyspellchecker==0.8.1
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rpds-py
ruamel.yaml
safetensors==0.4.3
tifffile==2022.8.12
scikit-image==0.23.2
scikit-learn
scikit-multilearn==0.2.0
scipy==1.10.1
seaborn
selenium==4.21.0
Send2Trash
shap
silpa-common==0.3
simpful==2.12.0
sip
six
slicer
smart-open
sniffio
sortedcontainers==2.4.0
soundex==1.1.3
soupsieve
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy
srsly==2.4.8
stack-data
stanza==1.8.2
statsmodels
sympy==1.12
tenacity
terminado
textsearch==0.0.24
thinc==8.2.3
threadpoolctl==3.5.0
